In [5]:
import pandas as pd

#load raw data
esg_df = pd.read_csv("sustainability-economic-performance/data/raw data/esg-economic-data.csv")
gdp_df = pd.read_csv("sustainability-economic-performance/data/raw data/gdp-inflation-fdi-data.csv")
class_df = pd.read_excel("sustainability-economic-performance/data/raw data/country-classification.xlsx")

#Preview
print("ESG + other indicators:")
display(esg_df.head())

print("\nGDP, Inflation, FDI:")
display(gdp_df.head())

print("\nCountry classification:")
display(class_df.head())

ESG + other indicators:

,Country Name,Country Code,Series Name,Series Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.0535570038181695,0.0536689767118985,0.0656292600512945,0.0727226251084929,0.0548502176552485,0.0803829463559013,...,0.283032202188285,0.297282459170618,0.267860693638487,0.28083718384984,0.298624727257862,0.296882768311101,0.222925457048673,..,..,..
1,Afghanistan,AFG,Fossil fuel energy consumption (% of total),EG.USE.COMM.FO.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,Afghanistan,AFG,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,45,45.6,37.8,36.7,44.2,33.9,...,19.1,17.7,20.2,19.5,18.3,18.9,18.2,20,20,..
3,Afghanistan,AFG,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,93.5373177008865,93.5373177008865,93.5374497028126,80.6308604401597,62.8649359905699,63.0139791405013,...,85.4614747024191,87.5782394741968,87.7612654613868,86.8645836678334,82.6719956888809,87.8403578186823,87.123785906179,78.2344746063241,..,..
4,Afghanistan,AFG,Nitrous oxide emissions (metric tons of CO2 eq...,EN.ATM.NOXE.PC,0.172754004045737,0.1515261920459,0.166326426410708,0.162478786281594,0.155604365523979,0.156654089498904,...,0.155190837374727,0.149477465644416,0.145343704975578,0.147495689770513,0.127109966516379,0.122765320540897,0.124482055213165,..,..,..

GDP, Inflation, FDI:

,Country Name,Country Code,Series Name,Series Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,GDP per capita (constant 2015 US$),NY.GDP.PCAP.KD,308.318269746638,277.118051443941,338.139973643387,346.071627096223,338.637273888197,363.640141436773,...,575.146245808546,565.569730408751,563.872336723147,562.769574140988,553.125151688293,557.861533207459,527.834554499306,408.625855217403,377.665627080705,378.06630312259
1,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,..,..,..,..,..,..,...,4.67399603536345,-0.661709164713771,4.38389195513915,4.97595150553836,0.626149149168802,2.30237251516839,5.60188791482222,5.1332034082496,13.7121023720065,-4.64470870797776
2,Afghanistan,AFG,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,0.00482760061734038,0.0241685679088889,1.30694987042884,1.27849325196424,3.577104200584,4.36867310434287,...,0.209664794672203,0.88400046336123,0.516606084523093,0.274796791572807,0.661572217787196,0.124495985291258,0.0649939571808755,0.144466946606861,..,..
3,Albania,ALB,GDP per capita (constant 2015 US$),NY.GDP.PCAP.KD,1991.91435867116,2188.91854451375,2297.10853513924,2428.68934653563,2567.29763687121,2712.86983830331,...,3883.63262828191,3981.72662261867,4143.98988316994,4283.98262744437,4452.23714652476,4563.4673625169,4437.65346927974,4880.72346162808,5178.88431481499,5444.93000074979
4,Albania,ALB,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,..,..,..,..,..,..,...,1.62586504402611,1.89617402592365,1.27543168367414,1.98666133171195,2.02805963071135,1.41109078954247,1.62088661717011,2.04147163139547,6.72520271530052,4.75976421930108

Country classification:

,Economy,Code,Region,Income group,Lending category
0,Afghanistan,AFG,"Middle East, North Africa, Afghanistan & Pakistan",Low income,IDA
1,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD
2,Algeria,DZA,"Middle East, North Africa, Afghanistan & Pakistan",Upper middle income,IBRD
3,American Samoa,ASM,East Asia & Pacific,High income,NaN
4,Andorra,AND,Europe & Central Asia,High income,NaN

In [6]:
print("\nColumns in ESG dataset:")
print(esg_df.columns)

print("\nColumns in GDP/Inflation/FDI dataset:")
print(gdp_df.columns)

print("\nColumns in Country Classification dataset:")
print(class_df.columns)

Columns in ESG dataset:
Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]'],
      dtype='object')

Columns in GDP/Inflation/FDI dataset:
Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]'],
      dtype='object')

Columns in Country Classification dataset:
Index(['Economy', 'Code', 'Region', 'Income group', 'Lending category'], dtype='object')

In [7]:
print("ESG shape:", esg_df.shape)
print("GDP/Inflation/FDI shape:", gdp_df.shape)
print("Class shape:", class_df.shape)

ESG shape: (2514, 28)
GDP/Inflation/FDI shape: (584, 28)
Class shape: (267, 5)

In [8]:
esg_df.sample(5)

,Country Name,Country Code,Series Name,Series Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
1764,Paraguay,PRY,Political Stability and Absence of Violence/Te...,PV.EST,-0.970572590827942,..,-1.21135127544403,-0.749351561069489,-0.566143751144409,-0.652078151702881,...,-0.0886275097727776,0.0352126285433769,0.13447080552578,-0.00285546225495636,-0.0867110788822174,-0.0180127751082182,0.0167177673429251,-0.000937932287342846,0.0355493128299713,0.0820416286587715
829,Georgia,GEO,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,0.215299993753433,0.238480001688004,0.185739994049072,0.217600002884865,0.244200006127357,0.176579996943474,...,0.169909998774529,0.293969988822937,0.280250012874603,0.266449987888336,0.275730013847351,0.281969994306564,0.297650009393692,0.248750001192093,0.234699994325638,0.252829998731613
948,Haiti,HTI,Gini index,SI.POV.GINI,..,59,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
294,Botswana,BWA,Control of Corruption: Estimate,CC.EST,0.858368933200836,..,0.624537587165833,1.24491953849792,0.875725924968719,1.16079270839691,...,0.812723755836487,0.78086245059967,0.866951286792755,0.712409794330597,0.71906042098999,0.685445845127106,0.610775887966156,0.665120005607605,0.661908507347107,0.685792088508606
2059,South Sudan,SSD,Methane emissions (metric tons of CO2 equivale...,EN.ATM.METH.PC,5.40965590548296,5.20047106940581,5.36393352631561,5.4443313254993,5.47055700914733,5.52317035924093,...,2.62873022631896,2.67905775984485,2.79250962456309,2.87360226291564,3.17862889839619,2.7827393973013,3.02715523541831,..,..,..

In [9]:
gdp_df.sample(5)

,Country Name,Country Code,Series Name,Series Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
546,United Arab Emirates,ARE,GDP per capita (constant 2015 US$),NY.GDP.PCAP.KD,57365.3983287418,54574.8141677002,52607.6615102605,54020.4735669296,56027.6100386222,55777.9018314127,...,43023.1904189899,43534.9972694631,43745.2881695314,42690.2147810875,42679.75191193,42700.1297938135,40776.6308713329,41778.5838767025,42687.7207209003,42507.7873410123
491,St. Vincent and the Grenadines,VCT,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,12.6913900432479,3.86141465002383,5.38789344689429,6.85125115746727,15.120110354189,6.88174169420403,...,16.1399244753356,15.7495814618354,8.66074512206484,19.5953970726633,4.52412383276845,7.5606563885612,7.54647187844049,18.8915993798527,6.59514716509223,6.90216587680999
417,Portugal,PRT,GDP per capita (constant 2015 US$),NY.GDP.PCAP.KD,18822.0933119456,19053.0899464433,19095.1102477762,18846.5411903004,19137.8370891182,19251.7145052945,...,18836.8967994149,19215.7813014347,19662.8231226536,20364.1963666527,20997.7744918249,21569.1874639961,19778.7138519007,20747.6991633543,22042.8682074432,22311.3052246654
73,Brunei Darussalam,BRN,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,..,..,..,..,..,..,...,-0.207108731719819,-0.488347420743483,-0.278693265753081,-1.2605056462896,1.02505179290213,-0.390522069165538,1.94031996607182,1.73341388450597,3.68225030604211,0.35706431153695
421,Qatar,QAT,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,..,..,..,..,..,..,...,3.3497208565953,1.81407723937758,2.67659170098194,0.394878914082963,0.255815382724384,-0.66664112486111,-2.54031503004764,2.30446565742007,4.99527553740757,3.02764899198904

In [10]:
class_df.head(10)

,Economy,Code,Region,Income group,Lending category
0,Afghanistan,AFG,"Middle East, North Africa, Afghanistan & Pakistan",Low income,IDA
1,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD
2,Algeria,DZA,"Middle East, North Africa, Afghanistan & Pakistan",Upper middle income,IBRD
3,American Samoa,ASM,East Asia & Pacific,High income,NaN
4,Andorra,AND,Europe & Central Asia,High income,NaN
5,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD
6,Antigua and Barbuda,ATG,Latin America & Caribbean,High income,IBRD
7,Argentina,ARG,Latin America & Caribbean,Upper middle income,IBRD
8,Armenia,ARM,Europe & Central Asia,Upper middle income,IBRD
9,Aruba,ABW,Latin America & Caribbean,High income,NaN

In [11]:
# --- Clean ESG dataset ---

# 1. Drop series code (useless)
esg_clean = esg_df.drop(columns=["Series Code"])

# 2. Reshape from wide to long format
year_cols = [col for col in esg_clean.columns if "[" in col]  # columns like '2000 [YR2000]'

esg_long = esg_clean.melt(
    id_vars=["Country Name", "Country Code", "Series Name"],
    value_vars=year_cols,
    var_name="Year",
    value_name="Value"
)

# 3. Clean Year column: keep only the 4 digits
esg_long["Year"] = esg_long["Year"].str.slice(0, 4)

# 4. Convert Year to integer
esg_long["Year"] = esg_long["Year"].astype(int)

# Preview
esg_long.head()

,Country Name,Country Code,Series Name,Year,Value
0,Afghanistan,AFG,CO2 emissions (metric tons per capita),2000,0.0535570038181695
1,Afghanistan,AFG,Fossil fuel energy consumption (% of total),2000,..
2,Afghanistan,AFG,Renewable energy consumption (% of total final...,2000,45
3,Afghanistan,AFG,Renewable electricity output (% of total elect...,2000,93.5373177008865
4,Afghanistan,AFG,Nitrous oxide emissions (metric tons of CO2 eq...,2000,0.172754004045737

In [12]:
# --- Clean GDP/Inflation/FDI dataset ---

# 1. Drop Series Code (useless)
gdp_clean = gdp_df.drop(columns=["Series Code"])

# 2. Reshape from wide to long format
year_cols_gdp = [col for col in gdp_clean.columns if "[" in col]

gdp_long = gdp_clean.melt(
    id_vars=["Country Name", "Country Code", "Series Name"],
    value_vars=year_cols_gdp,
    var_name="Year",
    value_name="Value"
)

# 3. Clean Year column
gdp_long["Year"] = gdp_long["Year"].str.slice(0, 4)

# 4. Convert Year to integer
gdp_long["Year"] = gdp_long["Year"].astype(int)

# Preview
gdp_long.head()

,Country Name,Country Code,Series Name,Year,Value
0,Afghanistan,AFG,GDP per capita (constant 2015 US$),2000,308.318269746638
1,Afghanistan,AFG,"Inflation, consumer prices (annual %)",2000,..
2,Afghanistan,AFG,"Foreign direct investment, net inflows (% of GDP)",2000,0.00482760061734038
3,Albania,ALB,GDP per capita (constant 2015 US$),2000,1991.91435867116
4,Albania,ALB,"Inflation, consumer prices (annual %)",2000,..

In [13]:
# --- Add Category to ESG dataset ---

def assign_category(series_name):
    series_name_lower = str(series_name).lower()  # changes every (if any) value in the series_name column from float to string + changes capital letters into normal letters
    
    # Environmental
    if "co2" in series_name_lower:
        return "Environmental"
    if "fossil" in series_name_lower:
        return "Environmental"
    if "renewable" in series_name_lower:
        return "Environmental"
    if "methane" in series_name_lower:
        return "Environmental"
    if "nitrous" in series_name_lower:
        return "Environmental"
    
    # Social
    if "unemployment" in series_name_lower:
        return "Social"
    if "gini" in series_name_lower:
        return "Social"
    if "rights" in series_name_lower:
        return "Social"

    # Governance
    if "corruption" in series_name_lower:
        return "Governance"
    if "political" in series_name_lower:
        return "Governance"

    # Economic
    if "gdp" in series_name_lower:
        return "Economic"
    if "expenditure" in series_name_lower:
        return "Economic"

    return "Other"

# Apply to ESG data
esg_long["Category"] = esg_long["Series Name"].apply(assign_category)

# Show each indicator in the dataset and its assigned category
esg_long[["Series Name", "Category"]].drop_duplicates().sort_values("Series Name")

                                            Series Name       Category
0                CO2 emissions (metric tons per capita)  Environmental
8                       Control of Corruption: Estimate     Governance
7          Economic and Social Rights Performance Score         Social
1           Fossil fuel energy consumption (% of total)  Environmental
11                                GDP growth (annual %)       Economic
12                                           Gini index         Social
5     Methane emissions (metric tons of CO2 equivale...  Environmental
4     Nitrous oxide emissions (metric tons of CO2 eq...  Environmental
9     Political Stability and Absence of Violence/Te...     Governance
3     Renewable electricity output (% of total elect...  Environmental
2     Renewable energy consumption (% of total final...  Environmental
10      Research and development expenditure (% of GDP)       Economic
6     Unemployment, total (% of total labor force) (...         Social
2509                                                NaN          Other

In [15]:
# ---Add Category to gdp-inflation-fdi dataset ---

def assign_economic_category(series_name):
    series_name_lower = str(series_name).lower() #same as above

    #Economic
    if "gdp" in series_name_lower:
        return "Economic"
    if "inflation" in series_name_lower:
        return "Economic"
    if "foreign direct investment" in series_name_lower:
        return "Economic"
    if "research" in series_name_lower or "r&d" in series_name_lower:
        return "Economic"

    return "Other"

gdp_long["Category"] = gdp_long["Series Name"].apply(assign_economic_category)

# Show each indicator in the dataset and its assigned category
gdp_long[["Series Name", "Category"]].drop_duplicates().sort_values("Series Name")

                                           Series Name  Category
2    Foreign direct investment, net inflows (% of GDP)  Economic
0                   GDP per capita (constant 2015 US$)  Economic
1                Inflation, consumer prices (annual %)  Economic
579                                                NaN     Other

In [17]:
# Drop rows where Series Name shows "Other" (NaN)
esg_long = esg_long.dropna(subset=["Series Name"])
gdp_long = gdp_long.dropna(subset=["Series Name"])

In [18]:
# Show each indicator in the dataset and its assigned category
esg_long[["Series Name", "Category"]].drop_duplicates().sort_values("Series Name")

                                          Series Name       Category
0              CO2 emissions (metric tons per capita)  Environmental
8                     Control of Corruption: Estimate     Governance
7        Economic and Social Rights Performance Score         Social
1         Fossil fuel energy consumption (% of total)  Environmental
11                              GDP growth (annual %)       Economic
12                                         Gini index         Social
5   Methane emissions (metric tons of CO2 equivale...  Environmental
4   Nitrous oxide emissions (metric tons of CO2 eq...  Environmental
9   Political Stability and Absence of Violence/Te...     Governance
3   Renewable electricity output (% of total elect...  Environmental
2   Renewable energy consumption (% of total final...  Environmental
10    Research and development expenditure (% of GDP)       Economic
6   Unemployment, total (% of total labor force) (...         Social

In [19]:
# Show each indicator in the dataset and its assigned category
gdp_long[["Series Name", "Category"]].drop_duplicates().sort_values("Series Name")

                                         Series Name  Category
2  Foreign direct investment, net inflows (% of GDP)  Economic
0                 GDP per capita (constant 2015 US$)  Economic
1              Inflation, consumer prices (annual %)  Economic

In [22]:
# Add a simple source label
esg_long["Source"] = "ESG"
gdp_long["Source"] = "Economic"

# Make column order consistent
common_cols = ["Country Name", "Country Code", "Series Name", "Year", "Value", "Category", "Source"]

esg_long = esg_long[common_cols]
gdp_long = gdp_long[common_cols]

# Combine into a single long dataframe
all_long = pd.concat([esg_long, gdp_long], ignore_index=True)

all_long.head(15)

,Country Name,Country Code,Series Name,Year,Value,Category,Source
0,Afghanistan,AFG,CO2 emissions (metric tons per capita),2000,0.0535570038181695,Environmental,ESG
1,Afghanistan,AFG,Fossil fuel energy consumption (% of total),2000,..,Environmental,ESG
2,Afghanistan,AFG,Renewable energy consumption (% of total final...,2000,45,Environmental,ESG
3,Afghanistan,AFG,Renewable electricity output (% of total elect...,2000,93.5373177008865,Environmental,ESG
4,Afghanistan,AFG,Nitrous oxide emissions (metric tons of CO2 eq...,2000,0.172754004045737,Environmental,ESG
5,Afghanistan,AFG,Methane emissions (metric tons of CO2 equivale...,2000,0.474923530452337,Environmental,ESG
6,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",2000,7.935,Social,ESG
7,Afghanistan,AFG,Economic and Social Rights Performance Score,2000,..,Social,ESG
8,Afghanistan,AFG,Control of Corruption: Estimate,2000,-1.27172422409058,Governance,ESG
9,Afghanistan,AFG,Political Stability and Absence of Violence/Te...,2000,-2.43896889686584,Governance,ESG
10,Afghanistan,AFG,Research and development expenditure (% of GDP),2000,..,Economic,ESG
11,Afghanistan,AFG,GDP growth (annual %),2000,..,Economic,ESG
12,Afghanistan,AFG,Gini index,2000,..,Social,ESG
13,Albania,ALB,CO2 emissions (metric tons per capita),2000,1.03156754537918,Environmental,ESG
14,Albania,ALB,Fossil fuel energy consumption (% of total),2000,58.78,Environmental,ESG

In [23]:
# sort the data by country code
all_long = all_long.sort_values(["Country Code", "Year", "Category"]).reset_index(drop=True)
all_long.head(20)

,Country Name,Country Code,Series Name,Year,Value,Category,Source
0,Afghanistan,AFG,Research and development expenditure (% of GDP),2000,..,Economic,ESG
1,Afghanistan,AFG,GDP growth (annual %),2000,..,Economic,ESG
2,Afghanistan,AFG,GDP per capita (constant 2015 US$),2000,308.318269746638,Economic,Economic
3,Afghanistan,AFG,"Inflation, consumer prices (annual %)",2000,..,Economic,Economic
4,Afghanistan,AFG,"Foreign direct investment, net inflows (% of GDP)",2000,0.00482760061734038,Economic,Economic
5,Afghanistan,AFG,CO2 emissions (metric tons per capita),2000,0.0535570038181695,Environmental,ESG
6,Afghanistan,AFG,Fossil fuel energy consumption (% of total),2000,..,Environmental,ESG
7,Afghanistan,AFG,Renewable energy consumption (% of total final...,2000,45,Environmental,ESG
8,Afghanistan,AFG,Renewable electricity output (% of total elect...,2000,93.5373177008865,Environmental,ESG
9,Afghanistan,AFG,Nitrous oxide emissions (metric tons of CO2 eq...,2000,0.172754004045737,Environmental,ESG
10,Afghanistan,AFG,Methane emissions (metric tons of CO2 equivale...,2000,0.474923530452337,Environmental,ESG
11,Afghanistan,AFG,Control of Corruption: Estimate,2000,-1.27172422409058,Governance,ESG
12,Afghanistan,AFG,Political Stability and Absence of Violence/Te...,2000,-2.43896889686584,Governance,ESG
13,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",2000,7.935,Social,ESG
14,Afghanistan,AFG,Economic and Social Rights Performance Score,2000,..,Social,ESG
15,Afghanistan,AFG,Gini index,2000,..,Social,ESG
16,Afghanistan,AFG,Research and development expenditure (% of GDP),2001,..,Economic,ESG
17,Afghanistan,AFG,GDP growth (annual %),2001,-9.4319740700862,Economic,ESG
18,Afghanistan,AFG,GDP per capita (constant 2015 US$),2001,277.118051443941,Economic,Economic
19,Afghanistan,AFG,"Inflation, consumer prices (annual %)",2001,..,Economic,Economic

In [25]:
# Prepare classification table: drop "lending category" and and rename columns to match the other (merged) dataset
class_clean = class_df.rename(
    columns={
        "Economy": "Country Name",
        "Code": "Country Code",
        "Income group": "Income Group",
        "Lending category": "Lending Category"
    }
)[["Country Code", "Country Name", "Region", "Income Group"]]

class_clean.head(15)

,Country Code,Country Name,Region,Income Group
0,AFG,Afghanistan,"Middle East, North Africa, Afghanistan & Pakistan",Low income
1,ALB,Albania,Europe & Central Asia,Upper middle income
2,DZA,Algeria,"Middle East, North Africa, Afghanistan & Pakistan",Upper middle income
3,ASM,American Samoa,East Asia & Pacific,High income
4,AND,Andorra,Europe & Central Asia,High income
5,AGO,Angola,Sub-Saharan Africa,Lower middle income
6,ATG,Antigua and Barbuda,Latin America & Caribbean,High income
7,ARG,Argentina,Latin America & Caribbean,Upper middle income
8,ARM,Armenia,Europe & Central Asia,Upper middle income
9,ABW,Aruba,Latin America & Caribbean,High income
10,AUS,Australia,East Asia & Pacific,High income
11,AUT,Austria,Europe & Central Asia,High income
12,AZE,Azerbaijan,Europe & Central Asia,Upper middle income
13,BHS,"Bahamas, The",Latin America & Caribbean,High income
14,BHR,Bahrain,"Middle East, North Africa, Afghanistan & Pakistan",High income

In [30]:
panel_long = all_long.merge(
    class_clean,
    on="Country Code",
    how="left"
)

if "Country Name_x" in panel_long.columns:
    panel_long = panel_long.rename(columns={"Country Name_x": "Country Name"})
    panel_long = panel_long.drop(columns=["Country Name_y"])

panel_long.head(20)

,Country Name,Country Code,Series Name,Year,Value,Category,Source,Region,Income Group
0,Afghanistan,AFG,Research and development expenditure (% of GDP),2000,..,Economic,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
1,Afghanistan,AFG,GDP growth (annual %),2000,..,Economic,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
2,Afghanistan,AFG,GDP per capita (constant 2015 US$),2000,308.318269746638,Economic,Economic,"Middle East, North Africa, Afghanistan & Pakistan",Low income
3,Afghanistan,AFG,"Inflation, consumer prices (annual %)",2000,..,Economic,Economic,"Middle East, North Africa, Afghanistan & Pakistan",Low income
4,Afghanistan,AFG,"Foreign direct investment, net inflows (% of GDP)",2000,0.00482760061734038,Economic,Economic,"Middle East, North Africa, Afghanistan & Pakistan",Low income
5,Afghanistan,AFG,CO2 emissions (metric tons per capita),2000,0.0535570038181695,Environmental,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
6,Afghanistan,AFG,Fossil fuel energy consumption (% of total),2000,..,Environmental,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
7,Afghanistan,AFG,Renewable energy consumption (% of total final...,2000,45,Environmental,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
8,Afghanistan,AFG,Renewable electricity output (% of total elect...,2000,93.5373177008865,Environmental,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
9,Afghanistan,AFG,Nitrous oxide emissions (metric tons of CO2 eq...,2000,0.172754004045737,Environmental,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
10,Afghanistan,AFG,Methane emissions (metric tons of CO2 equivale...,2000,0.474923530452337,Environmental,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
11,Afghanistan,AFG,Control of Corruption: Estimate,2000,-1.27172422409058,Governance,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
12,Afghanistan,AFG,Political Stability and Absence of Violence/Te...,2000,-2.43896889686584,Governance,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
13,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",2000,7.935,Social,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
14,Afghanistan,AFG,Economic and Social Rights Performance Score,2000,..,Social,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
15,Afghanistan,AFG,Gini index,2000,..,Social,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
16,Afghanistan,AFG,Research and development expenditure (% of GDP),2001,..,Economic,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
17,Afghanistan,AFG,GDP growth (annual %),2001,-9.4319740700862,Economic,ESG,"Middle East, North Africa, Afghanistan & Pakistan",Low income
18,Afghanistan,AFG,GDP per capita (constant 2015 US$),2001,277.118051443941,Economic,Economic,"Middle East, North Africa, Afghanistan & Pakistan",Low income
19,Afghanistan,AFG,"Inflation, consumer prices (annual %)",2001,..,Economic,Economic,"Middle East, North Africa, Afghanistan & Pakistan",Low income